<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> 
  </head>
<body>
 <%- include('partials/header') %> 

  <section class="main-section-post">
    
    
    
    <% if (newPost) { %>
      <%- include('partials/success') %>
    <% }; %>

    <form class="create-post-form" action="/posted" method="POST">
      <label class="label-section">
        Title
        <input type="text" name="title" id="post-title">
      </label>
      <label class="label-section">
        Text
        <textarea name="text" id="post-text"></textarea>
      </label>
      <button class="post-button" type="submit">Postar</button>
    </form>
  </section>

 <%- include('partials/footer') %>
 <%- include('partials/foot') %>
</body>
</html>